[Time]
NTP={{ time_primary_ntps | join(' ') }}
FallbackNTP={{ time_fallback_ntps | join(' ') }}
#RootDistanceMaxSec=5
#PollIntervalMinSec=32
#PollIntervalMaxSec=2048
#ConnectionRetrySec=30
#SaveIntervalSec=60
